<!DOCTYPE html>
<html>
<head>
	<title>Textutils</title>
</head>
<body>
	<h1>Text Analyzer. Enter your text :</h1>
	<form action="/analyze" method="get">
		<textarea name='text' style='margin: 0px; width: 1247px; height: 115px;'></textarea><br>

		<input type="checkbox" name="removepunc">Remove Punctuations <br>
		<input type="checkbox" name="fullcaps">UPPER CASE<br>
		<input type="checkbox" name="newlineremover">New Line Remover<br>
		<input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
		<button type="submit">Analyze Text</button>
	</form>
</body>
</html>